@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 300px) {
  .AdContiainer {
    width: 300px;
  }
  .banner {
    height: 100px;
  }
  .banner_sm {
    height: 50px;
  }
  .rectangle {
    height: 250px;
  }
}
@media (min-width: 320px) {
  .AdContiainer {
    width: 320px;
  }
  .banner {
    height: 100px;
  }
  .banner_sm {
    height: 50px;
  }
}
@media (min-width: 336px) {
  .rectangle {
    width: 336px;
    height: 280px;
  }
}
@media (min-width: 468px) {
  .AdContiainer {
    width: 468px;
    height: 60px;
  }
}
@media (min-width: 728px) {
  .AdContiainer {
    width: 728px;
    height: 90px;
  }
}
@media (min-width: 970px) {
  .AdContiainer {
    width: 970px;
    height: 90px;
  }
  .banner_lg {
    height: 250px;
  }
}
